<!DOCTYPE html>
<html>
    <head>
        <title> Flask picture app</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='CSS/main.css') }}">
    </head>
    <body>
        <h1>Pictures from BeagleBone Black</h1>
        <div class= "formulaire">Please choose a date </div>
        <div class="formulaire">
        <form method="post" action="/form_post">
            <select name="selectValue">
                {% for dir in pics %}
                <option value="{{ dir }}">{{ dir }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Soumettre" />
        </form>
        </div>
        <br />
        <div class="imgcontainer">
            <li>
            {% for pics in fetchedPics %}
                <!--<div class= "datecontainer">Date</div>-->
                <div class="zoom">
                <a href="../static/pics/{{ dateDay }}/{{ pics }}">
                    <img height="127.5px" width="170px" src="../static/pics/{{ dateDay }}/{{ pics }}" />
                </a>
                </div>
            {% endfor %}
            </li>
        </div>
    </body>
</html>